#fileList {
	background-color: #eee;
	border:1px solid #ccc;
	margin: 0.5em 0 0 0;
	overflow: auto;
	font-size: 0.7em;
	padding: 0.5em;
	flex: 1;
	color: #101010;
}

#fileList ul{
	list-style:none;
	padding: 0;
}

#fileList ul ul{
	display:none;
	margin-left:20px;
}

#fileList li{
	cursor: pointer;
	white-space: nowrap;
}

#fileList span.fileName {	
	margin-left:2px;
}


#fileList li.selected{
	background-color: #bbb;
}

#fileList li.rightClicked {
	background-color: #bada55;
}

#fileList li.changed{
	text-decoration:underline;
}

#fileList .spinner {
	margin: 1px 0 0 5px;
}

#fileList span.fileIcon {
	width:16px;
	height:16px;
	background: transparent url('/images/code_sprite.png') no-repeat -80px 0px;
	display:inline-block;
	vertical-align: middle;
	margin: 3px;
}

#fileList.dropTo, #fileList li.dropTo {
	background-color: rgba(186, 218, 85, 0.5);
	border-radius: 0.5em;
}

#fileList span.fileIcon.folder.open { background-position: 0 0}
#fileList span.fileIcon.folder { background-position: -16px 0}
#fileList span.fileIcon.php { background-position: -32px 0}
#fileList span.fileIcon.js { background-position: -48px 0}
#fileList span.fileIcon.png { background-position: -64px 0}
#fileList span.fileIcon.jpg { background-position: -64px 0}
#fileList span.fileIcon.css { background-position: -96px 0}
#fileList span.fileIcon.pdf { background-position: -112px 0}
#fileList span.fileIcon.htm { background-position: -128px 0}
#fileList span.fileIcon.xml { background-position: -144px 0}



#fileListRightClickMenu {
	position: absolute;
	box-shadow: 0px 1px 34px 0px rgba(0,0,0,0.2);
	border-radius: 0.2em;
	background-color: #fff;
	padding: 0.2em;
	z-index: 10;
	font-size: 0.9em;
}
#fileListRightClickMenu.root li.fileOnly {
	display: none;
}

#fileListRightClickMenu ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

#fileListRightClickMenu li{
	border-bottom: 1px solid #eee;
	padding: 0.2em 0.5em;
	cursor: pointer;
}

#fileListRightClickMenu li:hover{
	background-color: #bada55;
}

