
ul li {
	list-style-type: none;
}


html, body {
	height:100%;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	color: #666;
	background-color: #fff;
}

body, textarea, input, button, select {
	font-family: arial, sans-serif;
	font-size: 15px;
}

button {
	padding: 5px 10px;
	/*background-color: #bbb;
	border-radius: 5px;
	border: 0;*/
	cursor: pointer;
}
button:hover {
	/*background-color: #FFD697;	*/
}

h1 {
	font-size: 1.3em;
	
}
h1 .first {
	color: #E79D00;
}
h1 .second {
	color: #999;
}

#header {
	background-color: #444;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: #888;
	padding: 0.3em;
}

#header h1 {
	cursor: pointer;
	margin: 0;
	padding: 0 0.5em
}

#header #pageTitle {
	font-size: 1.2em;
}


#projectArea {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0.5em;
	flex: 1;
}
#projectArea.hidden {
	display: none;
}
#leftColumn {
	width: 220px;
	display: flex;
	flex-direction: column;
}
#xioDoc {
	flex: 1;
	padding-left: 0.5em;
	display: flex;
	flex-direction: column;
}
#xioDocTop {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

#editorWrapper {
	clear: both;
	flex: 1;
}


.icon-small {
	font-size: 1.3em;
	color: #666;
	cursor: pointer;
}
.icon-small:hover {
	color: #BADA55;
}
.icon-small.disabled {
	opacity: 0.3;
	cursor: default;
}
.icon-small.disabled:hover {
	color: #666;
}


#btnNewProject {
	vertical-align: text-top;
	line-height: 16px;
}


.button24 {
	border:0 none;
	cursor:pointer;
	width:24px;
	height:24px;
	background: transparent url('/images/code_sprite.png') no-repeat 0 0;
}


#btnLogout 			{background-position: -24px -16px;}
#btnChangePassword	{background-position: 0 -16px;}
#btnChangeSkin 		{background-position: -72px -16px;}
#btnExportAllZip 	{background-position: -96px -16px;}


.button32 {
	display: inline-block;
	width:32px;
	height:32px;
	background:transparent url('/images/code_sprite.png') no-repeat 0 -40px;
}

#btnNew .button32				{background-position: 0 -40px;}
#btnPreviewFile .button32		{background-position: -32px -40px;}
#btnPreviewProject .button32		{background-position: -96px -40px;}
#btnExportZip .button32			{background-position: -128px -40px;}
#btnRevert .button32				{background-position: -160px -40px;}
#btnColorPicker .button32		{background-position: -192px -40px;}
#btnProjectConfig .button32		{background-position: -224px -40px;}






#openedList {
	padding: 0;
	margin: 0 0 0 1em;
}
#openedList li {
	display: block;
	float: left;
	padding: 3px 7px 3px 10px;
	background-color: #ddd;
	margin-right: 4px;
	border-radius: 5px 5px 0 0;
	cursor: pointer;
	color: #222;
}
#openedList li.selected {
	cursor: default;
	background-color: #E2CFA7;
}
#openedList li.changed span.filename {
	text-decoration: underline;
}
#openedList li span.close {
	font-size: 11px;
	color: #666;
	margin-left: 0.5em;
}
#openedList li span.close:hover {
	color: #000;
	cursor: pointer;
}


#fileList {
	background-color: #eee;
	border:1px solid #ccc;
	margin: 0.5em 0 0 0;
	overflow: auto;
	font-size: 0.7em;
	padding: 0.5em;
	flex: 1;
	color: #101010;
}

#fileList ul{
	list-style:none;
	padding: 0;
}

#fileList ul ul{
	display:none;
	margin-left:20px;
}

#fileList  li{
	cursor: pointer;
	white-space: nowrap;
}

#fileList span.fileName {	
	margin-left:2px;
}

#fileList  li.selected{
	background-color: #bbb;
}

#fileList  li.changed{
	text-decoration:underline;
}

#fileList span.fileIcon {
	width:16px;
	height:16px;
	background: transparent url('/images/code_sprite.png') no-repeat -80px 0px;
	display:inline-block;
	vertical-align: middle;
	margin: 3px;
}

#fileList.dropTo, #fileList li.dropTo {
	background-color:red;
}

#fileList span.fileIcon.folder.open { background-position: 0 0}
#fileList span.fileIcon.folder { background-position: -16px 0}
#fileList span.fileIcon.php { background-position: -32px 0}
#fileList span.fileIcon.js { background-position: -48px 0}
#fileList span.fileIcon.png { background-position: -64px 0}
#fileList span.fileIcon.jpg { background-position: -64px 0}
#fileList span.fileIcon.css { background-position: -96px 0}
#fileList span.fileIcon.pdf { background-position: -112px 0}
#fileList span.fileIcon.htm { background-position: -128px 0}
#fileList span.fileIcon.xml { background-position: -144px 0}


.edit_fproject {
	display:none;
}

.file_spinner {
	margin: 1px 0 0 5px;
}
.file_loader {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 1px 0 0 5px;
	background: transparent url('/images/code_sprite.png') no-repeat -7px -97px;
	-webkit-animation-name: file_loader_move;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;	
	animation-name: file_loader_move;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@-webkit-keyframes file_loader_move {
	from { background-position: -7px -97px }
	to { background-position: 0 -97px }
}
@keyframes file_loader_move {
	from { background-position: -7px -97px }
	to { background-position: 0 -97px }
}
 

 



.toolbar {
	padding: 0;
	margin: 0;
}

.toolbar li {
	display: inline-block;
	padding: 0;
	margin: 0;
	font-size: 1.4em
}



#imagePreview {
	position:absolute;
	box-shadow: 2px 4px 23px 4px rgba(0, 0, 0, 0.47);
	border: 5px solid white;
	background-color: #0ae;
	background-image: url(data:image/bmp;base64,Qk1GAAAAAAAAADYAAAAoAAAAAgAAAAIAAAABABgAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAqKiow8PDAADDw8OoqKgAAA==);
	-webkit-background-size: 20px 20px;
	-moz-background-size: 20px 20px;
	background-size: 20px 20px;
	z-index:10;
}

#imagePreviewImage {
	width: 150px;
	height: 150px;
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
}

#imagePreviewInfo {
	background-color: #fff;
	padding: 0 0 0 10px;
	float: left;
	height: 150px;
	width: 190px;
}

#projectChooser .button {
	width:32px;
	height:32px;
	border:0 none;
	cursor:pointer;
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:center center;
}

#projectsFilter {
	padding:5px;
	margin:10px;
	font-weight:bold;
	color:#444;
	border-radius:10px;
	border:2px solid gray;
}
#projectsFilter:focus {
	outline: 0;
	border-color: #E79D00;
}


ul#projectsList {
	margin: 0;
	padding: 0;
}

#projectsList li {
	width:220px;
	border-radius:10px;
	margin:6px;
	background: -webkit-linear-gradient(top, #eee 0%,#ffffff 28%,#ffffff 44%,#ffffff 53%,#eee 100%);
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .16), inset 0px 0px 8px 4px rgba(255, 255, 255, 0.5);
	padding: 10px 0;
	cursor:pointer;
	float:left;
	text-align:center;
}

#projectsList li:hover {
	box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, .4), inset 0px 0px 34px 0px rgba(0, 0, 0, 0.05);
	margin:8px 5px 4px 7px;
}

#projectsList li h3 {
	font-size: 20px;
	font-weight: bold;
	margin: 0;
	color: #555;
}

#projectsList li a {
	color: #aaa;
	padding: 3px 5px;
	text-decoration: none;
	font-size: 0.6em;
	text-transform: uppercase;
}

#projectsList li a:hover {
	color:#000;
}


#fileListRightClickMenu {
	position:absolute;
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .2);
	border-radius:10px;
	border:1px solid #aaa;
	background-color:#eee;
	padding:5px;	
	z-index:10;
}
	#fileListRightClickMenu ul{
		list-style:none;
		padding: 0;
		margin: 0;
	}
	
	#fileListRightClickMenu li{
		border-bottom:1px solid #eee;
		cursor:pointer;
	}
	
	#fileListRightClickMenu li:hover{
		background-color:#E0D4A0;
	}



.hidden {
	display:none;
}





/*************** CODEMIRROR *********************/

.CodeMirror {
	border: 1px solid #ccc;
}
.cm-s-default {background: #fff;}
.cm-s-eclipse {background: #fff;}

.CodeMirror-activeline-background {
	background-color: rgba(150, 150, 150, 0.1);
}

.CodeMirror-focused .cm-matchhighlight {
	background-color: rgba(150, 150, 150, 0.2);
}


.CodeMirror-focused .CodeMirror-selected { background: pink; }

.CodeMirror-matchingbracket {
	color: red;
	font-weight: bold;
}
.CodeMirror-nonmatchingbracket {
	color: red;
	font-weight: bold;
	border-bottom: 1px solid red;
}

.cm-searching {
	background: rgba(255, 212, 121, 0.4);
}



/* Let's get this party started */
::-webkit-scrollbar {
    width: 10px;
	height: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background-color: #ddd;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.1); 
}

/*erger*/
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.1); 
}




/****************** LOGIN ***************************/

#login {
	text-align: center;
	position: absolute;
	left: 50%;
	top: 45%;	
	background-color: #fff;
	width: 300px;
	height: 170px;
	border: 2px solid white;
	border-radius: 20px;
	margin-left: -150px;
	margin-top: -75px;
	box-shadow: inset 0px 0px 3px #777, 0 0 550px black;	
	-moz-box-shadow: inset 0px 0px 3px #777, 0 0 550px black;	
	-webkit-box-shadow: inset 0px 0px 3px #777, 0 0 550px black;	
	z-index: 11;
}

body.authorized #login {
	display: none;
}

#login h1 {
	margin-bottom: 0;
}

#login .version {
	font-size: 0.7em;
	color: #999;
	margin-bottom: 1em;
}

#login form {
	
}

#login input{
	padding: 8px 10px;
	margin: 9px 4px;
	width: 100px;
	border-radius: 5px;
	border: 1px solid #bbb;
	background-color: #eee;
	color: #444;
}

#login button {
	display: block;
	margin:10px auto;
}


/*************************** User Menu ***************************/
#userMenu:hover>div {
	color: #bada55;
	background-color: #666;	
}
#userMenu>div {
	cursor: default;
	font-size: 1.2em;
	background-color: #999;
	padding: 0.2em 0.5em;
	color: #333;
}
#userMenu:hover ul {
	display: block;
}
#userMenu ul {
	display: none;
	margin: 0;
	padding: 0;
	text-align: right;
	background-color: #333;
	position: absolute;
	z-index: 8;
	right: 0;
}
#userMenu ul  li{
	padding: 4px 10px;
	border-bottom: 1px solid #444;
	cursor: pointer;
}
#userMenu ul  li:hover{
	background-color: #444;
	color: #bada55;
}


/*************************** Project Config ***************************/
#frmProjectConfig {
	width: 300px;
}
#frmProjectConfig h2 {
	margin: 0 auto 1em;
}
#frmProjectConfig ul {
	margin: 0;
	padding: 0;
}
#frmProjectConfig li {
	margin-bottom: 1em;
}
#frmProjectConfig label {
	display: block;
}
#frmProjectConfig input,
#frmProjectConfig textarea {
	width: 100%;
	box-sizing: border-box;
	padding: 0.5em;
}
#frmProjectConfig textarea {
	height: 8em;
}
#frmProjectConfig .buttonset {
	text-align: right;
}


/*************************** Project Config ***************************/
ul.selectableList {
	margin:0;
	padding: 0;
}

ul.selectableList li {
	cursor: pointer;
	padding: 3px;
}

ul.selectableList li:hover {
	background-color: #ddd;

}


/**********************************************************************/




.door {
	position:fixed;
	top:0;
	height: 100%;
	width: 50%;
	background: #777;
	background: -moz-linear-gradient(top, #b5b5b5 1%, #eff8ff 44%, #a3a3a3 100%);
	background: -webkit-linear-gradient(top, #b5b5b5 1%,#eff8ff 44%,#a3a3a3 100%);
	z-index:10;
	
	-webkit-transition: width 1s cubic-bezier(0.19, 1, 0.22, 1);
	-moz-transition: width 1s cubic-bezier(0.19, 1, 0.22, 1);
	transition: width 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.door.left {
	left: -10px;
	background-position: center right;
	border-right: 10px solid rgba(0,0,0,0.1);
}
.door.right {
	right: -10px;
	background-position: center left;
	border-left: 10px solid rgba(255,255,255,0.2);
}

body.authorized div.door {	
	width:0;			
}







@-webkit-keyframes shake {
    0% { -webkit-transform: translate(0, 0); }
    25% { -webkit-transform: translate(-10px, 0); }
    50% { -webkit-transform: translate(0, 0); }
    75% { -webkit-transform: translate(10px, 0); }
    100% { -webkit-transform: translate(0, 0); }
}
 
.shake {     
    -webkit-animation-name: shake;
    -webkit-animation-duration: 200ms;
    -webkit-animation-iteration-count: 3;
    -webkit-animation-timing-function: linear;
}