#projectFilter {
	width: 300px;
	padding: 0.5em;
	background-color: #eee;
}

#txtProjectFilter {
	font-weight:bold;
	color:#444;
	margin: 0;
}

#btnNewProject {
	vertical-align: text-top;
	line-height: 16px;
}




#projectList {
	padding: 0.5em;
	flex: 1;
	overflow: auto;
}

#projectList.dropzone {
	background-color: rgba(186, 218, 85, 0.5);
	
}

#projectList ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

#projectList .project {
	cursor: pointer;
	border: 1px dotted #ddd;
	margin: 0.5em;
	width: 150px;
	height: 100px;
	display: flex;
	flex-direction: column;
	padding: 0.5em;
}
#projectList .hidden {
	display: none;
}

#projectList .selected {
	background-color: #bada55;
	background-color: rgba(186, 218, 85, 0.32);
}



#projectList .name {
	font-weight: bold;
	color: #8A8A8A;
	font-size: 1.2em;
	margin-bottom: 0.5em;
}

#projectList .description {
	color: #aaa;
	font-size: 0.8em;
	flex: 1;
	overflow: hidden;
    text-overflow: ellipsis;
}

#projectList .functions {
	display: none;
	text-align: right;
	
}

#projectList .functions a {
	color: #aaa;
	text-decoration: none;
	padding-left: 0.5em;
	
}
#projectList .selected .functions {
	display: inline;
}


#projectList a:hover {
	color:#000;
}


#projectChooser {
	flex: 1;
	display: flex;
	flex-direction: row;
}
#projectChooser.hidden {
	display: none;
}

#projectChooser .button {
	width:32px;
	height:32px;
	border:0 none;
	cursor:pointer;
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:center center;
}
