
#projectsList {
	margin: 0;
	padding: 0;
}

#projectsList li {
	width:220px;
	border-radius:10px;
	margin:6px;
	background: -webkit-linear-gradient(top, #eee 0%,#ffffff 28%,#ffffff 44%,#ffffff 53%,#eee 100%);
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .16), inset 0px 0px 8px 4px rgba(255, 255, 255, 0.5);
	padding: 10px 0;
	cursor:pointer;
	float:left;
	text-align:center;
}

#projectsList li:hover {
	box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, .4), inset 0px 0px 34px 0px rgba(0, 0, 0, 0.05);
	margin:8px 5px 4px 7px;
}

#projectsList li h3 {
	font-size: 20px;
	font-weight: bold;
	margin: 0;
	color: #555;
}

#projectsList li a {
	color: #aaa;
	padding: 3px 5px;
	text-decoration: none;
	font-size: 0.6em;
	text-transform: uppercase;
}

#projectsList li a:hover {
	color:#000;
}



#projectChooser .button {
	width:32px;
	height:32px;
	border:0 none;
	cursor:pointer;
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:center center;
}

#projectsFilter {
	padding:5px;
	margin:10px;
	font-weight:bold;
	color:#444;
	border-radius:10px;
	border:2px solid gray;
}
#projectsFilter:focus {
	outline: 0;
	border-color: #E79D00;
}


#btnNewProject {
	vertical-align: text-top;
	line-height: 16px;
}