html {
  font-size: 15px;
  font-family: 'Roboto', sans-serif; }

html, body {
  height: 100%; }

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  color: #666;
  background-color: #fff;
  overflow: hidden; }

ul li {
  list-style-type: none; }

h1 {
  font-size: 1.3em;
  display: flex;
  align-items: center; }

h1 svg {
  margin-right: 0.5em;
  width: 20px;
  height: 20px; }

h1 .first {
  color: #999; }

h1 .second {
  color: #FF9900; }

#header {
  background-color: #444;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #888;
  padding: 0.3em; }

#header h1 {
  cursor: pointer;
  margin: 0;
  padding: 0 0.5em; }

#header #pageTitle {
  font-size: 1.2em;
  text-align: center;
  flex: 1; }

#projectToolbar {
  margin-right: 0.5em;
  display: flex; }

#projectToolbar.disabled .icon {
  fill: rgba(255, 255, 255, 0.2);
  cursor: default; }

ul.tags {
  margin: 0;
  padding: 0; }

ul.tags li {
  display: inline-block;
  padding: 0.3em 0.8em;
  background-color: #DBDBDB;
  border-radius: 0.5em;
  margin: 0.2em;
  font-size: 0.7em;
  color: #333; }

#projectArea {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 0.2em 0.5em 0.5em; }

#projectArea.hidden {
  display: none; }

.divider {
  width: 0.5em;
  cursor: ew-resize; }

.xiopop {
  z-index: 6; }

.codeEditor {
  flex: 1;
  display: flex;
  flex-direction: column; }

.codeEditor .header {
  display: flex;
  flex-direction: row; }

.toolbar {
  margin: 0;
  padding: 0;
  flex: 0 0 auto;
  display: flex; }

.toolbar li {
  cursor: pointer;
  margin: 0.1em; }

.toolbar li.disabled,
.toolbar.disabled li {
  pointer-events: none;
  cursor: default; }

.toolbar li.disabled .icon {
  fill: #ddd; }

.toolbar li .icon {
  width: 20px;
  height: 20px;
  fill: #888;
  display: block;
  pointer-events: none; }

.toolbar li:hover .icon {
  fill: #bada55; }

@-webkit-keyframes anim-rotate {
  0% {
    -webkit-transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes anim-rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
.hidden {
  display: none; }

/*************************** Live preview *****************************/
#preview {
  flex: 1;
  padding: 0.5em; }

#previewFrame {
  background-color: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box; }

/*************************** Selectable list ***************************/
ul.selectableList {
  margin: 0;
  padding: 0; }

ul.selectableList li {
  cursor: pointer;
  padding: 3px; }

ul.selectableList li:hover {
  background-color: #ddd; }

textarea, input, button, select {
  color: inherit;
  font: inherit;
  box-sizing: border-box;
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin: 0.2rem; }

input, textarea, select {
  border: 1px solid #d4d4d4; }

input:focus, textarea:focus, select:focus {
  border-color: #E79D00;
  background-color: #eee; }

button {
  background-color: #FF9900;
  cursor: pointer;
  color: #FFE6B2;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid #D48309; }
  button:focus, button:hover {
    background-color: #FFBA28;
    color: #FFF; }

.login-box {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 45%;
  background-color: #fff;
  width: 30rem;
  border-radius: 2px;
  margin-left: -15rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  z-index: 11; }
  .login-box h1 {
    margin-bottom: 0;
    justify-content: center;
    font-size: 2rem; }
    .login-box h1 .icon {
      width: 1em;
      height: 1em;
      margin-right: 0.3rem; }
    .login-box h1 span {
      font-size: 0.8em; }
  .login-box .version {
    font-size: 0.7em;
    color: #999;
    margin-bottom: 1em; }
  .login-box form {
    display: flex;
    margin: 0 2rem; }
  .login-box input {
    flex: 1 1 auto; }
  .login-box button {
    flex: 0 0 auto; }

body.authorized .login-box {
  display: none; }

.door {
  position: fixed;
  top: 0;
  height: 100%;
  width: 50%;
  background: #ddd;
  z-index: 10;
  -webkit-transition: width 1s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: width 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: width 1s cubic-bezier(0.19, 1, 0.22, 1); }

.door.left {
  left: -5px;
  border-right: 5px solid #d1d1d1; }

.door.right {
  right: -5px;
  border-left: 5px solid #e4e4e4; }

body.authorized div.door {
  width: 0; }

.shake {
  -webkit-animation-name: shake;
  -webkit-animation-duration: 200ms;
  -webkit-animation-iteration-count: 3;
  -webkit-animation-timing-function: linear; }

@keyframes shake {
  0% {
    -webkit-transform: translate(0, 0); }
  25% {
    -webkit-transform: translate(-1rem, 0); }
  50% {
    -webkit-transform: translate(0, 0); }
  75% {
    -webkit-transform: translate(1rem, 0); }
  100% {
    -webkit-transform: translate(0, 0); } }
.tabBar {
  padding: 0;
  margin: 0 0 0 0.3em;
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden; }

.tabBar > li {
  display: flex;
  align-items: center;
  padding: 0.1em 0.8em 0 0.8em;
  background-color: #d5ddd5;
  margin-right: 4px;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  color: #222;
  font-size: 0.8em;
  min-width: 60px; }

.tabBar > li.selected {
  cursor: default;
  background-color: #E2CFA7; }

.tabBar > li .filename {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex: 1; }

.tabBar > li.loading .filename {
  font-style: italic;
  color: #888; }

.tabBar > li.saving .close,
.tabBar > li.loading .close {
  -webkit-animation: anim-rotate 4s linear infinite;
  -moz-animation: anim-rotate 4s linear infinite;
  animation: anim-rotate 4s linear infinite; }

.tabBar > li.changed .filename {
  text-decoration: underline; }

.tabBar > li .close {
  fill: rgba(0, 0, 0, 0.3);
  width: 10px;
  height: 10px;
  margin-left: 0.8em;
  display: block; }

.tabBar > li .close:hover {
  fill: rgba(0, 0, 0, 0.8);
  cursor: pointer; }

#userMenu:hover > div {
  color: #bada55;
  background-color: #666; }

#userMenu .button {
  cursor: default;
  background-color: #999;
  padding: 0.2em 0.5em;
  color: #333;
  border-radius: 0.3em; }

#userMenu .button span {
  vertical-align: middle; }

#userMenu .button .icon {
  width: 14px;
  height: 14px;
  vertical-align: middle;
  fill: #333; }

#userMenu:hover .button .icon {
  fill: #bada55; }

#userMenu > div:before {
  padding-right: 0.5em; }

#userMenu:hover ul {
  display: block; }

#userMenu ul {
  display: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  font-size: 0.8em;
  position: absolute;
  z-index: 8;
  right: 0; }

#userMenu ul li:before {
  padding-right: 0.5em; }

#userMenu ul li {
  padding: 4px 10px;
  border-bottom: 1px solid #444;
  cursor: pointer; }

#userMenu ul li:hover {
  background-color: #444;
  color: #bada55; }

#userMenu li .icon {
  width: 16px;
  height: 16px;
  fill: #888;
  margin-right: 0.5em;
  vertical-align: text-bottom; }

#userMenu li:hover .icon {
  fill: #bada55; }

#frmProjectConfig {
  width: 300px; }
  #frmProjectConfig h2 {
    margin: 0 auto 1em; }
  #frmProjectConfig ul {
    margin: 0;
    padding: 0; }
  #frmProjectConfig li {
    margin-bottom: 1em; }
  #frmProjectConfig label {
    display: block; }
  #frmProjectConfig input, #frmProjectConfig textarea {
    width: 100%; }
  #frmProjectConfig textarea {
    height: 8em; }
  #frmProjectConfig .buttonset {
    text-align: right; }

#projectChooser {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #eee; }

#projectChooser.hidden {
  display: none; }

#projectChooser .button {
  width: 32px;
  height: 32px;
  border: 0 none;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center; }

#projectFilter {
  padding: 0.5em;
  flex: 0 0 auto; }

#txtProjectFilter {
  font-weight: bold;
  color: #444;
  margin: 0; }

#btnNewProject {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  cursor: pointer; }

#btnNewProject:hover {
  fill: #bada55; }

#projectList {
  padding: 0.5em;
  flex: 1;
  overflow: auto; }

#projectList.dropzone {
  background-color: rgba(186, 218, 85, 0.5); }

#projectList > ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap; }

#projectList .project {
  width: 150px;
  height: 100px;
  margin: 0.3em;
  padding: 0.8em 1em;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column; }

#projectList .hidden {
  display: none; }

#projectList .selected {
  background-color: #bada55;
  background-color: rgba(186, 218, 85, 0.32); }

#projectList .name {
  font-weight: bold;
  color: #8A8A8A;
  font-size: 1.2em;
  margin-bottom: 0.5em; }

#projectList .description {
  color: #888;
  font-size: 0.8em;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis; }

#projectList .functions {
  display: none;
  padding: 0;
  text-align: right; }

#projectList .functions li {
  display: inline-block; }

#projectList .functions li .icon {
  width: 16px;
  height: 16px;
  fill: rgba(0, 0, 0, 0.2);
  pointer-events: none; }

#projectList .functions li:hover .icon {
  fill: rgba(0, 0, 0, 0.6); }

#projectList .selected .functions {
  display: inline; }

#fileBrowser {
  width: 220px;
  display: flex;
  flex-direction: column; }

#fileList {
  background-color: #eee;
  border: 1px solid #ccc;
  margin: 0;
  overflow: auto;
  padding: 0.3em;
  flex: 1; }

#projectArea.compact #fileList {
  display: none; }

#fileList ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0.3em; }

#fileList > ul {
  margin: 0; }

#fileList ul ul {
  display: none;
  margin-left: 1.3em; }

#fileList li {
  cursor: pointer;
  white-space: nowrap; }

#fileList li.hidden {
  display: none; }

#fileList li.selected .file {
  background-color: #d2d2d2; }

#fileList li.rightClicked .file {
  background-color: #bada55; }

#fileList li.changed .filename {
  text-decoration: underline; }

#fileList li .file {
  display: flex;
  align-items: center;
  padding: 2px;
  margin-top: 1px; }

#fileList li svg {
  flex: 0 0 20px;
  height: 20px;
  margin-right: 0.2em;
  fill: #777; }

#fileList li .filename {
  font-size: 0.8em;
  flex: 1 0 auto; }

#fileList.dropTo, #fileList li.dropTo {
  background-color: rgba(186, 218, 85, 0.5);
  border-radius: 0.5em; }

#fileListRightClickMenu {
  position: absolute;
  box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0.2em;
  background-color: #fff;
  padding: 0.2em;
  z-index: 10;
  font-size: 0.9em; }

#fileListRightClickMenu.root li.fileOnly {
  display: none; }

#fileListRightClickMenu ul {
  list-style: none;
  padding: 0;
  margin: 0; }

#fileListRightClickMenu li {
  border-bottom: 1px solid #eee;
  padding: 0.2em 0.5em;
  cursor: pointer; }

#fileListRightClickMenu li:hover {
  background-color: #bada55; }

#fileList .spinner {
  margin-left: 0.5em;
  font-size: 1.2em;
  display: inline-block;
  line-height: 1;
  height: 1em;
  padding: 0;
  -webkit-animation: anim-rotate 2s infinite linear;
  animation: anim-rotate 2s infinite linear; }

#fileList .spinner:before {
  width: auto;
  font-size: 1em; }

#fileList li.open > div > svg {
  display: none; }

#fileList li.open > div > svg.open {
  display: block; }

#fileList li > div > svg.open {
  display: none; }

#fileList li svg.file-phpp {
  fill: #669; }

#todoArea {
  width: 200px;
  overflow: auto; }

#todoArea .button {
  display: block;
  background-color: #eee;
  border: 0;
  padding: 0.5em;
  border-radius: 0.3em;
  margin-bottom: 0.3em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer; }

#todoArea .button:hover {
  background-color: #666;
  color: #ddd; }

#todoArea .button svg {
  width: 17px;
  height: 17px;
  vertical-align: text-top;
  fill: rgba(0, 0, 0, 0.6); }

#todoArea .button:hover svg {
  fill: #bada55; }

#listTodos, #listTodosDone {
  margin: 1em 0 0 0;
  padding: 0; }

#listTodos li, #listTodosDone li {
  cursor: pointer; }

#listTodos li {
  padding: 0.6em;
  margin-bottom: 0.5em;
  transition: -webkit-transform 0.5s ease, background-color 0.5s ease;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  list-style-type: decimal;
  list-style-position: inside;
  border-radius: 0.3em;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.3); }

#listTodos li.feature {
  background-color: rgba(186, 218, 85, 0.2); }

#listTodos li.bug {
  background-color: rgba(231, 157, 0, 0.2); }

#listTodos.reordered li.feature {
  background-color: #C5CCAA; }

#listTodos.reordered li.bug {
  background-color: #D4BFAB; }

#listTodos.reordered li.dragged {
  background-color: #E2ECBF;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.05, 1.05);
  transform: rotate(2deg); }

#listTodos.reordered li.dragged.bug {
  background-color: #F8E3CF; }

#listTodos li .title {
  display: block;
  font-size: 12px;
  color: #666; }

#listTodosDone li {
  padding: 0.6em;
  margin-bottom: 0.5em;
  list-style-type: none;
  border-radius: 0.3em;
  display: block;
  font-size: 12px;
  color: #666;
  background-color: #eee; }

#dropPlaceholder {
  background-color: green;
  height: 30px; }

#formTodo h3 {
  margin: 0 0 0.5em 0; }

#formTodo textarea {
  width: 400px;
  height: 100px; }

#formTodo button {
  text-align: right; }

.cm-s-xio .cm-keyword {
  color: #9040CF; }

.cm-s-xio .cm-atom {
  color: #219; }

.cm-s-xio .cm-number {
  color: #164; }

.cm-s-xio .cm-def {
  color: #00f; }

.cm-s-xio .cm-variable {
  color: black; }

.cm-s-xio .cm-variable-2 {
  color: #05a; }

.cm-s-xio .cm-variable-3 {
  color: #085; }

.cm-s-xio .cm-property {
  color: black; }

.cm-s-xio .cm-operator {
  color: black; }

.cm-s-xio .cm-comment {
  color: #409C3D; }

.cm-s-xio .cm-string {
  color: #4686CC; }

.cm-s-xio .cm-string-2 {
  color: #f50; }

.cm-s-xio .cm-meta {
  color: #555; }

.cm-s-xio .cm-qualifier {
  color: #555; }

.cm-s-xio .cm-builtin {
  color: #4702EA; }

.cm-s-xio .cm-bracket {
  color: #997; }

.cm-s-xio .cm-tag {
  color: #170; }

.cm-s-xio .cm-attribute {
  color: #00c; }

.cm-s-xio .cm-header {
  color: blue; }

.cm-s-xio .cm-quote {
  color: #090; }

.cm-s-xio .cm-hr {
  color: #999; }

.cm-s-xio .cm-link {
  color: #00c; }

.CodeMirror {
  border: 1px solid #ccc;
  font-size: 1em;
  font-family: 'Inconsolata', sans-serif; }

.cm-s-default {
  background: #fff; }

.CodeMirror-activeline-background {
  background-color: rgba(150, 150, 150, 0.1); }

.CodeMirror-focused .cm-matchhighlight {
  background-color: rgba(150, 150, 150, 0.2); }

.CodeMirror-focused .CodeMirror-selected {
  background: pink; }

.CodeMirror-nonmatchingbracket {
  border-bottom: 1px solid red; }

.cm-searching {
  background: rgba(255, 212, 121, 0.4); }

.cm-tab {
  border-right: 1px solid #D0EBF1;
  margin-left: -1px; }

@media (max-width: 480px) {
  #header h1 span {
    display: none; }

  #projectList > ul {
    flex-wrap: nowrap;
    flex-direction: column; }

  #projectList li.project {
    width: auto;
    height: auto;
    margin: 0 0 0.5em 0; }

  #projectList ul.functions {
    display: inline; }

  #projectArea .pane {
    display: none; }

  #projectArea #todoArea {
    display: block;
    width: auto; } }

/*# sourceMappingURL=style.css.map */
