#todoArea {
	width: 200px;
	overflow: auto;
}

#todoArea .button {
	display: block;
	background-color: #eee;
	border: 0;
	padding: 0.5em;
	border-radius: 0.3em;
	margin-bottom: 0.3em;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	cursor: pointer;
}
#todoArea .button:hover {
	background-color: #666;
	color: #ddd;
}

#todoArea .button svg {
	width: 17px;
	height: 17px;
	vertical-align: text-top;
	fill: rgba(0,0,0,0.6);
}
#todoArea .button:hover svg {
	fill: #bada55;
}

#listTodos, #listTodosDone{
	margin: 1em 0 0 0;
	padding: 0;
}

#listTodos li, #listTodosDone li {
	cursor: pointer;
}

#listTodos li {
	padding: 0.6em;
	margin-bottom: 0.5em;
	transition:  -webkit-transform 0.5s ease, background-color 0.5s ease;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
	list-style-type: decimal;
	list-style-position: inside;
	border-radius: 0.3em;
	font-size: 18px;
	color: rgba(0, 0, 0, 0.3);
}

#listTodos li.feature {
	background-color: rgba(186, 218, 85, 0.2);
}
#listTodos li.bug {
	background-color: rgba(231, 157, 0, 0.2);
}

#listTodos.reordered li.feature {
	background-color: #C5CCAA;
}
#listTodos.reordered li.bug {
	background-color: #D4BFAB;
}

#listTodos.reordered li.dragged {
	background-color: #E2ECBF;
	box-shadow: 1px 2px 5px rgba(0,0,0,0.4);
	-webkit-transform: scale(1.05, 1.05);
	transform: rotate(2deg);
}
#listTodos.reordered li.dragged.bug {
	background-color: #F8E3CF;
}


#listTodos li .title {
	display: block;
	font-size: 12px;
	color: #666;
}


#listTodosDone li {
	padding: 0.6em;
	margin-bottom: 0.5em;
	list-style-type: none;
	border-radius: 0.3em;
	display: block;
	font-size: 12px;
	color: #666;
	background-color: #eee;
}

#dropPlaceholder{
	background-color: green;
	height: 30px;
}


#formTodo h3 {
	margin: 0 0 0.5em 0;
}

#formTodo textarea {
	width: 400px;
	height: 100px;
}

#formTodo button {
	text-align: right;
}
