textarea, input, button, select {
	color: inherit;
	font: inherit;
	box-sizing: border-box;
}

input, textarea, select {
	border: 1px solid #bbb;
	padding: 0.5em;
}

input:focus, textarea:focus, select:focus {
	border-color: #E79D00;
}

button {
	padding: 5px 10px;
	background-color: #dddddd;
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
    background-image: linear-gradient(to bottom, #F5F5F5 0%, #E2E2E2 100%);
    color: #9C9C9C;
    text-shadow: 0 -1px 1px white;
    border: 1px solid #E2E2E2;

	&:focus,
	&:hover {
		background-color: #FFD697;
	}
}