textarea, input, button, select {
	color: inherit;
	font: inherit;
	box-sizing: border-box;
	padding: 0.5rem;
    border-radius: 0.2rem;
	margin: 0.2rem;
}

input, textarea, select {
	border: 1px solid #d4d4d4;
}

input:focus, textarea:focus, select:focus {
	border-color: #E79D00;
	background-color: #eee;
}

button {
    background-color: $color-orange;
    cursor: pointer;
    color: #FFE6B2;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.3);
    border: 1px solid #D48309;

	&:focus,
	&:hover {
		background-color: #FFBA28;
    	color: #FFF;
	}
}