

.login-area {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
	display: flex;
	align-items: center;
    justify-content: center;
}

.login-box {
	text-align: center;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	padding: 1.2rem;

	h1 {
		margin: 0 0 1rem;
		justify-content: center;
		font-size: 2rem;

		.icon {
			width: 1em;
			height: 1em;
			margin-right: 0.3rem;
		}

		span {
			font-size: 0.8em;
		}
	}

	.version {
		font-size: 0.7em;
		color: #999;
		margin-bottom: 1em;
	}

	form {

	}

	input {
		width: 8rem;
	}

	.login-button {
		width: 7rem;
	}

	.login-google-button {
		margin-top: 1rem;
		background-color: #5CACE2;
		color: #DFF2FF;
		border: 1px solid #3584B9;
	}
}

body.authorized .login-area {
	display: none;
}





.door {
	position:fixed;
	top:0;
	height: 100%;
	width: 50%;
	background: #ddd;
	z-index:10;

	-webkit-transition: width 1s cubic-bezier(0.19, 1, 0.22, 1);
	-moz-transition: width 1s cubic-bezier(0.19, 1, 0.22, 1);
	transition: width 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.door.left {
	left: -5px;
	border-right: 5px solid #d1d1d1;
}
.door.right {
	right: -5px;
	border-left: 5px solid #e4e4e4;
}

body.authorized div.door {
	width: 0;
}






.shake {
    -webkit-animation-name: shake;
    -webkit-animation-duration: 200ms;
    -webkit-animation-iteration-count: 3;
    -webkit-animation-timing-function: linear;
}

@keyframes shake {
    0% { -webkit-transform: translate(0, 0); }
    25% { -webkit-transform: translate(-1rem, 0); }
    50% { -webkit-transform: translate(0, 0); }
    75% { -webkit-transform: translate(1rem, 0); }
    100% { -webkit-transform: translate(0, 0); }
}