#frmProjectConfig {
	width: 300px;

	h2 {
		margin: 0 auto 1em;
	}
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		margin-bottom: 1em;
	}
	label {
		display: block;
	}
	input, textarea {
		width: 100%;
	}
	textarea {
		height: 8em;
	}
	.buttonset {
		text-align: right;
	}
}