body {
	text-align: center;
	font-family: sans-serif;
	background-color: #aaa;
}

div {
	width: 300px;
	padding: 20px;
	margin: 100px auto;
	background-color: white;
}

h1 {
	color: #bada55;
	font-size: 120px;
	margin: 0;
}

h2 {
	color: #666;
	font-size: 30px;
	margin-top: 0;
}