[submodule "codemirror"]
	path = public_html/codemirror
	url = https://github.com/marijnh/CodeMirror.git
[submodule "DatabasePDO"]
	path = classes/DatabasePDO
	url = https://github.com/teolag/DatabasePDO.git
[submodule "PHPMailer"]
	path = classes/PHPMailer
	url = https://github.com/PHPMailer/PHPMailer.git
[submodule "public_html/AjaXIO"]
	path = public_html/AjaXIO
	url = git://github.com/teolag/AjaXIO
