Options +FollowSymLinks
RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f


RewriteBase /projects/wake/



RewriteCond %{REQUEST_URI} !=/index.php
RewriteRule ^models/?$ index.php?page=models [L,PT,QSA]